/* ==========================================================================
   1. CONFIGURAÇÕES GLOBAIS E FONTES
   ========================================================================== */

@import url('https://fonts.googleapis.com/css2?family=Krona+One&family=Public+Sans:ital,wght@0,100..900;1,100..900&display=swap');

:root {
  --cor-cabeçalho:#090909;
  --cor-fundo: #000000;
  --cor-primaria: #ffffff;
  --cor-destaque: #F28C34;
  --cor-botao: #7FFFD4;
  --cor-dev-nome: #4B0082;
  --fonte-titulo: "Krona One", sans-serif;
  --fonte-texto: "Public Sans", sans-serif;
  --tamanho-texto: clamp(1rem, 4vw, 1.5rem);
  --tamanho-link: clamp(0.2rem, 4vw, 1.25rem);
  --tamanho-subtitulo: clamp(1.35rem, 4vw, 1.75rem);
  --tamnho-titulo:clamp(1.75rem, 4vw, 2.20rem)
  --espaco-sm: 0.5rem;
  --espaco-md: 1rem;
  --espaco-lg: 1.5rem;
  --espaco-xl: 2.6rem;
  --espaco-ti: 3.2rem;
}

* { margin: 0; padding: 0; box-sizing: border-box; }

body {
  background-color: var(--cor-fundo);
  color: var(--cor-primaria);
  min-height: 100vh;
}

.Body_config {
  background-color: var(--cor-cabeçalho);
  color: var(--cor-primaria);
  min-height: 100vh;
}

/* ==========================================================================
   2. PADRONIZAÇÃO DE TÍTULOS
   ========================================================================== */

.teste_conteudo__conteudo__titulo,
.Projeto_titulo,
.titulo_desenvolvedores,
.Configurações_titulo {
  font-family: var(--fonte-titulo);
  font-weight: 400;
  line-height: 1.3;
  font-size: 1.7rem;
  color: var(--cor-destaque);
  text-align: center;
  padding: var(--espaco-xl);
  margin-bottom: var(--espaco-xl);
}

.Configurações_titulo {
  margin: 0rem;
  padding: 0rem;
}

.nome-desenvolvedor {
  font-family: var(--fonte-titulo);
  font-weight: 400;
  font-size: var(--tamanho-subtitulo);
  color: var(--cor-dev-nome);
  margin: 0;
}

.apresentacao__links__subtitulo {
  font-family: var(--fonte-titulo);
  font-weight: 400;
  font-size: clamp(1.25rem, 5vw, 1.5rem);
  color: var(--cor-primaria);
  text-align: center;
}

/* ==========================================================================
   3. CABEÇALHO (HEADER) 
   ========================================================================== */
.cabeçalho {
    background-color: var(--cor-cabeçalho);
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    border-bottom: 1px solid var(--cor-destaque);
}

.cabeçalho__menu-hamburguer,
.cabeçalho__menu__config {
    display: block;
    background-repeat: no-repeat;
    background-position: center;
    cursor: pointer;
    padding: 0; /* Remove o padding antigo */
    margin: 1rem;  /* Remove a margem antiga */
}

.cabeçalho__menu-hamburguer {
    background-image: url("../assets/Menu-aberto.svg");
    background-size: contain;
    width: 24px;
    height: 24px;
}

.cabeçalho__menu-hamburguer:hover {
    transform: scale(1.10);
}

.container {
    display: flex;
     align-items: center;
}

.container__imagem {
    padding: 1em;
    width: 100%;
}

.lista-menu {
    display: none;
     position: absolute;
     top: 100%
}

.container__botao:checked~.lista-menu {
     display: block;
}

.lista-menu__titulo, .lista-menu__item {
  padding: 1rem;
  font-family: var(--fonte-texto);
  background-color: var(--cor-primaria);
  color: var(--cor-fundo);
}

.lista-menu__titulo { 
  color: var(--cor-destaque);
  font-size: var(--tamanho-link);
  font-weight: 500;
}

.container__botao {
  opacity: 0; 
  position: absolute; 
  width: 24px;
  height: 24px; 
  z-index: 1; 
}

/* pesquisa do usario*/

.form-pesquisa {
    display: flex;
    align-items: center;
    background-color: var(--cor-fundo); 
    border: 1px solid var(--cor-destaque); 
    border-radius: 20px; 
    overflow: hidden;
    width: 100%;
    transition: all 0.3s ease;
    margin-left: 2rem;
    margin-right: 1rem;
    padding: 0.5rem;
}

.input-pesquisa {
    border: none;
    background: transparent;
    flex-grow: 1; 
    padding: 0.75em 1em; 
    font-family: var(--fonte-texto);
    font-size: 0.6rem;
    color: var(--cor-primaria);
}

.input-pesquisa:focus {
    outline: none;
}

.botao-pesquisa {
    border: none;
    background: var(--cor-fundo);
    padding: 0;
    padding-right: 5%;
    cursor: pointer;
    font-size: 1.1rem;
    color: var(--cor-destaque); 
}


.form-pesquisa:focus-within {
    border-color: var(--cor-destaque);
    box-shadow: 0 0 5px rgba(var(--cor-destaque-rgb), 0.5); 
   
}

/*configuraçoes do usuario*/

/* Estilo específico para as configurações */
.cabeçalho__menu__config {
    background-image: url("../assets/config.jpg");
    background-size: cover;
    border-radius: 50%;
    width: 3rem;
    height: 3rem;
}

.cabeçalho__menu__config:hover {
  transform: scale(1.10);
}

.container__botao__config {
    opacity: 0; 
    position: absolute; 
    width: 24px;
    height: 24px; 
}

.container__botao__config:checked ~ .lista-menu-config {
    display: block;
}

.lista-menu-config {
    text-align: left;
    display: none;
    position: absolute;
    top: 100%;
    right: 0; /* Alinha na borda direita */
    z-index: 10;
    padding: 1rem;
    font-family: var(--fonte-texto);
    background-color: var(--cor-primaria);
    color: var(--cor-fundo);
    list-style-type: none;
}

.lista-menu__titulo__config {
    color: var(--cor-destaque);
    font-size: var(--tamanho-link);
    font-weight: 600;
    list-style-type: none;
    text-align: center;
}

  /*======================================================
   Parte exclusiva Config.html
   ========================================================================== */
.cabeçalho_config {
    background-color: var(--cor-cabeçalho);
    display: flex;
    flex-direction: row;
    align-items: center;
    position: relative;
    border-bottom: 1px solid var(--cor-cabeçalho);
}

.Botao_setinha {
  display: block; /* Ou 'inline-block'. Isso permite que a tag <a> tenha altura e largura. */
  background-image: url("../assets/setinha.jpg"); 
  width: 24px;
  height: 24px;
  background-size: contain;   /* Apenas um é necessário */
  background-repeat: no-repeat; /* Evita que a imagem se repita */
  background-position: center;  /* Centraliza a imagem no elemento */
  border-radius: 50%;
  padding: 1.5rem;
  margin: 1rem;
}

.Botao_setinha:hover {
  transform: scale(1.10);
}

  /*======================================================
   4. CONTEÚDO PRINCIPAL (MAIN)
   ========================================================================== */

.teste_conteudo {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0 5%;
}

.conteudo_principal_wrapper {
  width: 100%;
  display: flex;
  flex-direction: column-reverse;
  align-items: center;
  justify-content: space-between;
  gap: 2.5rem;
  margin-top: var(--espaco-xl);
}

.teste_conteudo__conteudo {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: var(--espaco-lg);
  text-align: justify;
  padding: var(--espaco-xl);
  font-family: var(--fonte-texto);
  font-size: var(--tamanho-texto);
}

.negrito1 { color: var(--cor-destaque); }

.logo_Site {
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  width: 100%;
  min-height: 400px; /* Garante a altura mínima para aparecer */
}

/* ===========================================================
   PARTE EXCLUSIVA DO ARQUIVO Desenvolvedores_index.html
   =============================================================*/
.slider {
  width: 95vw; 
  height: 56vh; 
  margin-top: 0rem;
  overflow: hidden;
  position: relative;
  border-radius: 10px;
  box-shadow: 0 4px 12px rgba(0,0,0,0.2);
}

.slides {
  width: 300%;
  height: 100%; 
  display: flex;
  transition: margin-left 0.6s ease-in-out;
}

.slides input {
  display: none;
}

.slide {
  width: 33.333%;
  height: 100%; 
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 0.5rem; 
}

.slide-img {
  width: 300px;
  height: 300px;
  object-fit: cover;
  border: 4px solid var(--cor-cabeçalho);
  box-shadow: 0 2px 8px rgba(0,0,0,0.3); /* Sombra na imagem */
}

.manual-navigation, .navigation-auto {
  position: absolute;
  width: 100%;
  bottom: 30px;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  justify-content: center;
  z-index: 10; /* Garante que fique na frente de tudo */
}

.manual-btn {
  border: 2px solid white;
  padding: 8px;
  border-radius: 50%;
  cursor: pointer;
  transition: 0.5s;
}

.manual-btn:not(:last-child) {
  margin-right: 30px;
}

.manual-btn:hover {
  background-color: rgba(255, 255, 255, 0.5);
}

.navigation-auto div {
  border: 2px solid rgba(255, 255, 255, 0.5);
  padding: 8px;
  border-radius: 50%;
}

.navigation-auto div:not(:last-child) {
    margin-right: 30px;
}

/* Regras de destaque e movimento */
#radio1:checked ~ .first { margin-left: 0; }
#radio2:checked ~ .first { margin-left: -33.333%; }
#radio3:checked ~ .first { margin-left: -66.666%; }

#radio1:checked ~ .navigation-auto .auto-btn1,
#radio2:checked ~ .navigation-auto .auto-btn2,
#radio3:checked ~ .navigation-auto .auto-btn3 {
    background-color: white;
}

/* ===========================================================
   PARTE EXCLUSIVA DO ARQUIVO Sobre_projeto.html
   =============================================================*/

  .Projeto_conteudo {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    gap: 2.5rem;
    margin-top: var(--espaco-xl);
  }

  .Projeto_conteudo_subtitulo {
    font-family: var(--fonte-titulo);
    font-weight: 400;
    font-size: var(--tamanho-subtitulo);
    color: var(--cor-dev-nome);
    margin: 1rem;
  }

  .Projeto_conteudo_paragrafo {
    font-family: var(--fonte-texto);
    font-size: var(--tamanho-texto);
  }

  /* ===========================================================
   PARTE EXCLUSIVA DO ARQUIVO config.html
   =============================================================*/
.Configurações {
  background-color: var(--cor-cabeçalho);
  width: 100%;
}
    

/* ==========================================================================
   5. SEÇÃO DE LINKS (REDES SOCIAIS) 
   ========================================================================== */
  .redes-card {
    display: flex;
    flex-direction:column-reverse;
    gap: 1rem;
  }

   .imagem-rede {
    width: 80px;
    height: 80px;
    margin-right: 2px;
    object-fit: cover;
    gap: 1rem;
    padding: 1rem;
}

  .texto-rede {
    text-align: center;
    padding-top: 10rem;
  }

  .nome-rede {
    color: var(--cor-dev-nome);
    font-family: var(--fonte-titulo);
    font-size: var(--tamanho-subtitulo);
  }

/* ==========================================================================
   6. RODAPÉ (FOOTER)
   ========================================================================== */

.rodape {
  padding: var(--espaco-lg);
  color: var(--cor-primaria);
  background-color: var(--cor-fundo);
  text-align: center;
  font-family: var(--fonte-texto);
  margin-top: 6rem;
}

.rodape_config {
   padding: var(--espaco-lg);
  background-color: var(--cor-cabeçalho);
  text-align: center;
  font-family: var(--fonte-texto);
  margin-top: 6rem;
}

.apresentacao__links {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: var(--espaco-xl);
  padding: var(--espaco-xl) var(--espaco-md);
}

.apresentacao__links__link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  max-width: 200px;
  padding: 0.75rem 0;
  border-radius: 1.5rem;
  background-color: var(--cor-fundo);
  color: var(--cor-fundo);
  text-decoration: none;
  font-family: var(--fonte-titulo);
  font-size: 1rem;
  font-weight: 400;
  transition: transform 0.3s ease;
}

.apresentacao__links__link:hover { transform: scale(1.08); }

/* ==========================================================================
   7. MEDIA QUERIES 
   ========================================================================== */

@media (min-width: 769px) {

  /* ==========================================================================
  Titulos
   ========================================================================== */

.teste_conteudo__conteudo__titulo,
.Projeto_titulo,
.titulo_desenvolvedores,
.Configurações_titulo {
  font-size: 2.20rem;
}

/* ==========================================================================
   . CABEÇALHO (HEADER) 
   ========================================================================== */
/* pesquisa do usario*/
.form-pesquisa {
    margin-left: 18rem;
    margin-right: 40rem;
}

.input-pesquisa {
    font-size: 1.1rem;
}

.form-pesquisa {
    padding: 0.01rem;
}

.cabeçalho__menu__config {
    margin-right: 3rem;
}

/*. CONTEÚDO PRINCIPAL (MAIN)*/
  
  .conteudo_principal_wrapper { 
    flex-direction: row;
    margin-left: 0;
    padding-left: 0;
    gap: var(--espaco-lg);
  }

  .teste_conteudo__conteudo {
    width: 50%;
    text-align: left;
  }

  .logo_Site {
    width: 60%;
    min-height: 750px;
    background-size: auto 100%;
    background-position: right left; 
    padding-right: 10px;
    mask-image: linear-gradient(to left, black 20%, transparent 90%);
    -webkit-mask-image: linear-gradient(to left, black 20%, transparent 90%);
  }
  .apresentacao__links { padding: 4rem 2rem; }

   .rodape { margin-top: 12rem; }

  /* PARTE EXCLUSIVA DO ARQUIVO Desenvolvedores_index.html*/

  .desenvolvedor-card { flex-direction: row; text-align: left; }

  .imagem-desenvolvedor { width: 300px; height: 300px; }

  /*PARTE EXCLUSIVA DO ARQUIVO Sobre_projeto.html*/

  .Projeto_conteudo {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: space-between;
    gap: 1.5rem;
    margin-top: var(--espaco-xl);
    margin-left: var(--espaco-xl);
  }
/* PARTE EXCLUSIVA DE DESENVOLVEDORES*/
.slider {
  height: 86vh;
  margin: 2rem auto;
  width: 94vw;
}

.slide {
  gap: 1.5rem;
}

.slide-img {
  width: 40%;
  height: 100%;
}

}

/*Parde da area de links*/
  .redes-card { gap: 0;}

  .imagem-rede {
    width: 400px;
    height: 400px;
    margin-right: 8px;
    border: 50px ;
    gap: 2rem;
    padding: 2rem;
}
  .imagem-rede:hover {
    transform: scale(1.10);
}

  .texto-rede {
    padding-top: 2rem;
  }

@media (min-width: 1024px) {
  .teste_conteudo { padding: 0 5% }

   .conteudo_principal_wrapper { 
    gap: var(--espaco-lg);
  }

  .apresentacao__links {
    flex-direction: row;
    justify-content: center;
    gap: 1rem;
  }
}